#mycanvas
{
	border: black 3px solid;
}
.heading
{
	color: #0e5e8d ;
	font-family: 'Arima Madurai', cursive;
	letter-spacing: 0.0625em; 
	font-size: 1.3em;
}
#score
{
	
	font-family: 'Reem Kufi', sans-serif;
	font-size: 1.3em;
	letter-spacing: 0.0625em;
}
a
{
	font-family: 'Raleway', sans-serif;
}
p
{
	font-family: 'Arima Madurai', cursive;
}